@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    background-color: #F4F9FF;
    color: #383e45;
    font-size: 0.875rem;
  }
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
}
.section-title {
    font-size: 32px;
    border-bottom: #383e45 1px solid;
    display: inline-block;
    margin-bottom: 60px;
}
.content-title{
    font-size: 16px;
    margin: 10px 0 10px 0;
}
#header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 60px;
}
#header ul {
    display: flex;
    padding: 10px 0;
}
#header img {
    width: 120px;
    padding: 10px 0;
}
#header a {
    display: block;
}
#header li {
    line-height: 40px;
    margin-left: 30px;
}
#header li a {
    color: #383e45;
}
#header li a:hover {
    opacity: 0.7;
}
#mainvidual {
    margin-bottom: 80px;
}
#mainvidual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}
#about img {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
    margin-right: 30px;
}
#about .content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#about .text {
    text-align: left;
}
#bicycle ul {
    display: flex;
    justify-content: space-between;
}
#bicycle  li {
    width: 32%;
}
#footer {
    text-align: center;
    font-size: 0.5rem;
    padding: 10px 0;
}

@media screen and (max-width: 600px) {
    #mainvidual img {
        height: calc(100vh - 60px);
    }
    #about .content {
        flex-direction: column;
        font-size: 0.8rem
    }
    #about img {
        margin-right: 0px;
    }
    #bicycle ul {
        flex-direction: column;
    }
    #bicycle  li {
        width: 100%;
        margin-bottom: 30px;
    }
    #bicycle img {
        width: 100%;
    }
}